.articles {
  /* background-color: #094074; */
  padding-top: 1px;
}

.article__div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px auto;
  background-color: #fbfbfb;
  color: black;
  width: 85vw;
}

.centre {
  text-align: center;
}

p.article--title {
  font-size: large;
  font-weight: bold;
}

p.article--details {
  font-size: small;
  margin: 0px 0px 5px 0px;
}

.article--link:link {
  text-decoration: none;
  color: #094074;
}

.article--link:visited {
  text-decoration: none;
  color: black;
}

div .comment {
  padding: 0px;
  margin: 0px;
}

.comment--form {
  padding: 0px;
  margin: 0px;
}

#comment {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
  width: 83.8vw;
  margin: auto;
  position: relative;
  left: 0px;
}

.sortby {
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.sortby button {
  margin: 0px, 5px;
  padding: 2px;
}

.order__span {
  align-items: center;
}

@media screen and (min-width: 600px) {
  .sortby {
    height: 2rem;
    display: block;
    width: 85vw;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: left;
  }

  .sortby button {
    padding: 5px;
  }

  .order__span {
    margin-left: 25px;
  }
}

.sortauthor.author,
.sortcreated_at.created_at,
.sorttitle.title,
.sorttopic.topic,
.sortvotes.votes,
.sortcomment_count.comment_count,
.order__button {
  background-color: rgb(9, 4, 170);
  color: white;
}

.pagination {
  margin: 15px auto;
  width: 50vw;
}

/* Comment.jsx */

.deletedtrue {
  color: red;
}

.add__container {
  display: grid;
}
