.header {
    /* background-color: #094074; */
    padding: 0px;
    margin: 0px;
    text-align: center;
    position: relative;
    color: #fbfbfb;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 15px 30px 15px;
}

.headerbutton {
    justify-content: center;
    vertical-align: baseline;
    margin-top: 5px;
}

.title {
    padding: 0px;
    margin: 0px
}

