header {
    /* background-color: #094074; */
    padding: 0px;
    margin: 0px;
    text-align: center;
    position: relative;
    color: #fbfbfb;
}

.burger {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 20px;
}

.title {
    display: inline-block;
}

