.login {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:600px) {
    .login {
        position: absolute;
        /* margin: auto auto auto auto; */
        /* left: calc(100vw -150px); */
    }
    
}