.login {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:600px) {
    .login {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .spacer {
        width: 150px;
        height: 200px;
    } */
}