  .logindetails {
    margin-left: 15px;
    color: yellow;
    padding: 0px;
    margin-bottom: 0px;
  }

  .user {
    font-weight: bold;
    padding: 0px;
    margin-top:0px;
  }

  .logout {
    margin-top:10px;
    margin-left: 15px;
  }

  @media screen and (min-width: 600px){

    .vanish {
        display: none;
      }
    }