/* The side navigation menu */
.sidenav {
    color: white;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: green; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px;
    color: #818181; */
    display: block;
    transition: 0.3s;
    position: absolute;
  }

  .menuopentrue {
    width: 40%;
  }

  .closemenu {
    position: relative;
    top: -30px;
    left: 20px;
  }

  .logindetails {
    margin-left: 15px;
    color: yellow;
    padding: 0px;
    margin-bottom: 0px;
  }

  .user {
    font-weight: bold;
    padding: 0px;
    margin-top:0px;
  }

  .logout {
    margin-top:10px;
    margin-left: 15px;
  }

