nav {
    /* background-color: #38aecc; */
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
    padding: 5px;
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:visited {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    color: white;
    text-decoration: none;
}

