nav {
    /* background-color: #38aecc; */
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white
}

.navlist {
    padding: 2px;
    margin: 1px;
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 5px;
}

.navlink {
    color: white;
    text-decoration: none;
    padding: 1px;
    margin: 1px;
}

.navlink:visited {
    color: white;
    text-decoration: none;
    padding: 1px;
    margin: 1px;
}

.navlink:hover {
    color: #dc851f;
    text-decoration: none;
    font-weight: 700;
    padding: 1px;
    margin: 1px;
}